.edit {
  display: inline-flex;
  padding: 16px 16px;
}

input {
  font-size: inherit;
  /* max-width: 100px; */
}

.editSpan:hover {
  border-radius: 8px;
  background-color: #D3D3D3;
  padding: 8px 16px;
}